body {
    margin: 0;
    font-family: Martel Sans, Open Sans, Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    height: inherit;
}

header {
    height: 65px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid #aaa;
  }

  .logo {
    height: 120px;
    margin-top: -25px;
  }

  .header-left {
    float: left;
  }

  .header-right {
      float: right;
  }

  .header-right a:hover {
    color: rgba(31,133,255,0.5);
  }

  .header-right a {
      line-height: 65px;
      padding-left: 25px;
      padding-right: 25px;
      display: block;
      font-weight: 800;
      transition: all 0.5s;
      color: rgba(5,87,255,1);
  }

  footer{
      border-top: 1px solid #aaa;
      background-color: rgb(0,47,108);
      height: 260px;
      color: white;
  }

  .footer-container{
    width: 55%;
    height: 260px;
  }

  .footer-logo{
      height: 150px;
      border-radius: 10px;
  }

  .footer-content {
      float: left;
      margin: 50px 20px;
  }

  footer a{
      color: white;
  }

  .media-wrapper{
    text-align: center;
  }

  .media{
      font-size: 80px;
      padding: 0 10px;
  }
.heading {
  padding-top: 180px;
  background-image: url("Logo Tugas/office.jpg");
  background-size: cover;
  color: white;
}
.heading img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.contain {
  padding-top: 50px;
  color: rgba(5, 87, 255, 1);
  text-align: center;
}
.contain h1 {
  font-size: 50px;
}
.contain p {
  font-size: 20px;
}

.product-wrapper {
  height: 300px;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
}

.product {
  float: left;
  width: 25%;
  padding-right: 40px;
  padding-left: 40px;
}

.product-icon img {
  width: 300px;
  height: 300px;
}

.product-description {
  font-size: 18px;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  color: rgba(5, 87, 255, 1);
  margin-top: 20px;
  font-size: 30px;
}
.bottom {
  height: 520px;
}
.bottom2 {
  margin-top: 80px;
  margin-left: 50px;
  margin-right: 50px;
}
.main1 img {
  width: 200px;
  height: 300px;
  float: left;
  margin-left: 200px;
}
.main1 {
  margin-left: 100px;
  margin-right: 100px;
  color: rgba(5, 87, 255, 1);
}
.main1 h1 {
  margin-top: 100px;
  margin-left: 500px;
}
.main1 p {
  margin-left: 500px;
}

.highlight {
  color: red;
}

.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.5); 
}

@media only screen and (max-width:768px) {
  .container {
    width: 720px;
  }

  .heading {
    padding-top: 0;
    width: 101%;
  }

  .contain h1{
    font-size: 2em;
  }

  .product {
    width: 22.5%;
    padding-right: 35px;
    padding-left: 35px;
    margin-left: 2px;
  }  

  .product-icon img {
    width: 200px;
    height: 200px;
  }

  .txt-contents {
    font-size: 18px;
  }

  .bottom {
    margin-top: 50px;
    height: 400px;
  }

  .bottom2 {
    height: inherit;
    margin-left: 0;
    margin-right: 0;
  }

  .main1 {
    height: inherit;
    margin-left: 50px;
    margin-right: 50px;
    display: inline;
  }

  .main1 img {
    margin-left: 0;
  }

  .main1 h1 {
    margin-left: 250px;
    margin-top: -20px;
    font-size: 2em;
  }

  .main1 p {
    margin-left: 250px;
    margin-top: -10px;
    margin-right: 40px;
  }

  .footer-content h1 {
    font-size: 1.5em;
  }

  .media {
    font-size: 50px;
  } 

  footer {
    width: 768px;
  }
}